In [1]:
import pandas as pd

Once the content and quality of the data in the train dataset have been analyzed, the following actions have been determined to be performed on the dataset:
- Eliminate the null elements corresponding to the onpromotion column.
- It has been identified that there are some items that do not start their registration from the start of the records with a lower date, they will be eliminated in order to have the entire data history on the same start date.

In [2]:
# Root folder data
data_folder = 'data/'
df_train = pd.read_csv(data_folder + "train.csv", dtype={"id": int, "date": "object",
                       "store_nbr": int, "item_nbr": int, "unit_sales": float, "onpromotion": "object"})

In [3]:
df_train.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125497040 entries, 0 to 125497039
Data columns (total 6 columns):
 #   Column       Non-Null Count      Dtype
---  ------       --------------      -----
 0   id           125497040 non-null  int64
 1   date         125497040 non-null  object
 2   store_nbr    125497040 non-null  int64
 3   item_nbr     125497040 non-null  int64
 4   unit_sales   125497040 non-null  float64
 5   onpromotion  103839389 non-null  object
dtypes: float64(1), int64(3), object(2)
memory usage: 5.6+ GB

In [6]:
df_train = df_train.dropna().reset_index(drop=True)

In [7]:
df_train.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103839389 entries, 0 to 103839388
Data columns (total 6 columns):
 #   Column       Non-Null Count      Dtype
---  ------       --------------      -----
 0   id           103839389 non-null  int64
 1   date         103839389 non-null  object
 2   store_nbr    103839389 non-null  int64
 3   item_nbr     103839389 non-null  int64
 4   unit_sales   103839389 non-null  float64
 5   onpromotion  103839389 non-null  object
dtypes: float64(1), int64(3), object(2)
memory usage: 4.6+ GB

In [8]:
df_train['date'] = pd.to_datetime(df_train['date'])

In [10]:
# Get datae min
fecha_minima = df_train['date'].min()
fecha_minima

Timestamp('2014-04-01 00:00:00')

In [11]:
items_con_fecha_min = df_train.groupby('item_nbr').filter(
    lambda x: fecha_minima in x['date'].values)
items_con_fecha_min

                  id       date  store_nbr  item_nbr  unit_sales onpromotion
0           21657651 2014-04-01          1    103520         1.0       False
1           21657652 2014-04-01          1    103665         3.0       False
2           21657653 2014-04-01          1    105574         1.0       False
3           21657654 2014-04-01          1    105575        11.0       False
4           21657655 2014-04-01          1    105577         4.0       False
...              ...        ...        ...       ...         ...         ...
103838782  125496433 2017-08-15         54   1246785         6.0        True
103838783  125496434 2017-08-15         54   1250226         1.0       False
103838784  125496435 2017-08-15         54   1253765         4.0       False
103838785  125496436 2017-08-15         54   1254013         4.0       False
103838786  125496437 2017-08-15         54   1255777         2.0       False

[67029280 rows x 6 columns]

In [12]:
items_con_fecha_min = items_con_fecha_min.reset_index(drop=True)
items_con_fecha_min.to_csv("data/train_start.csv",index=False)

In [1]:
import pandas as pd

In [2]:
# Archivo raíz
data_folder = 'data/'
df_train = pd.read_csv(data_folder + "train_start.csv",
                       dtype={"id": int, "date": "object", "store_nbr": int, "item_nbr": int, "unit_sales": float, "onpromotion": "object"})

In [3]:
df_train.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67029280 entries, 0 to 67029279
Data columns (total 6 columns):
 #   Column       Non-Null Count     Dtype
---  ------       --------------     -----
 0   id           67029280 non-null  int64
 1   date         67029280 non-null  object
 2   store_nbr    67029280 non-null  int64
 3   item_nbr     67029280 non-null  int64
 4   unit_sales   67029280 non-null  float64
 5   onpromotion  67029280 non-null  object
dtypes: float64(1), int64(3), object(2)
memory usage: 3.0+ GB